
html {
  background: #ddd;
}

.form-wrapper {
  width: 300px;
  margin: 100px auto;
  display: grid;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 30px;
  background: white;
}

.field-wrapper {
  display: grid;
}

.submit-button {
  width: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background: green;
  border: none;
  border-radius: 3px;
  color: white;
}
